# {{ prettyName }} Chart

[![Stars](https://img.shields.io/github/stars/TribusStudio/drupal.svg?logo=github&maxAge=86400)](https://github.com/TribusStudio/helm-charts/stargazers)
[![Pulls](https://img.shields.io/docker/pulls/TribusStudio/drupal.svg?maxAge=86400)](https://hub.docker.com/r/TribusStudio/drupal)
[![Artifact Hub](https://img.shields.io/endpoint?url=https://artifacthub.io/badge/repository/TribusStudio)](https://artifacthub.io/packages/helm/TribusStudio/drupal)

## Overview

This Chart aims to provide a generic scaffolding for Drupal website's in the Kubernetes Cluster.

## [Project Page](https://github.com/TribusStudio/helm-charts/drupal), [Helm Chart](https://github.com/TribusStudio/helm-charts/drupal)

## Prerequisites

{{ prerequisites }}

## Usage

{{ usage }}

## Configuration

{{ configuration }}
